version: 2.1
executors:
  hugo-executor:
    docker:
      - image: cibuilds/hugo:latest
jobs:
  build:
    executor: hugo-executor
    steps:
      - checkout
      - run:
          name: hugo build
          command: HUGO_ENV=production hugo -v
workflows:
  version: 2.1
  master-merged:
    jobs:
      - build
