version: 2.1
orbs:
  hugo: circleci/hugo@0.4.1
jobs:
  deploy:
    docker:
      - image: cibuilds/base
    steps:
      - add_ssh_keys:
          fingerprints:
            - "0c:27:f7:45:9b:96:e0:5f:51:26:9e:cf:35:a3:c6:24"
      - attach_workspace:
          at: .
      - deploy:
          name: deploy to Github Pages
          command: |
            DEPLOY_DIR=deploy
            git config --global user.email $USER_EMAIL
            git config --global user.name $CIRCLE_USERNAME
            git clone --depth 1 git@github.com:abekoh/abekoh.github.io.git $DEPLOY_DIR
            cd $DEPLOY_DIR
            rm -vrf ./*
            cp -v -R ../public/* ./
            git add -f .
            git commit -m "Deploy #$CIRCLE_BUILD_NUM from CircleCI [ci skip]"
            git push origin master -f
workflows:
  version: 2
  main:
    jobs:
      - hugo/build:
          html-proofer: false
      - deploy:
          requires:
            - hugo/build
          filters:
            branches:
              only: master
