version: 2.1
orbs:
  hugo: circleci/hugo@0.3.1
jobs:
  deploy:
    docker:
      - image: cibuilds/base:latest
    steps:
      - add_ssh_keys:
          fingerprints:
            - "0c:27:f7:45:9b:96:e0:5f:51:26:9e:cf:35:a3:c6:24"
      - attach_workspace:
          at: .
      - deploy:
          name: deploy to Github Pages
          command: |
            echo "HostName github.com" >> ~/.ssh/config
            echo "StrictHostKeyChecking no" >> ~/.ssh/config
            DEPLOY_DIR=deploy
            git config --global user.email $USER_EMAIL
            git config --global user.name $CIRCLE_USERNAME
            git clone git@github.com:abekoh/abekoh.github.io.git $DEPLOY_DIR
            cd $DEPLOY_DIR
            rm -vrf ./*
            cp -v -R ../public/* ./
            echo "blog.abekoh.dev" > CNAME
            git add -f .
            git commit -m "Deploy #$CIRCLE_BUILD_NUM from CircleCI [ci skip]"
            git push origin master -f
  tweet:
    docker:
      - image: cibuilds/ruby:latest
    steps:
      - checkout
      - run:
          name: setup twurl
          command: |
            gem install twurl -N
            echo -n $TWIURL_RC | base64 -D > ~/.twurlrc
      - run:
          name: tweet blog updates
          command: |
            # content/post内で新規Postの英語タイトル名リストを取得
            # ex) content/post/hoge.md
            change_posts=`git diff HEAD^ HEAD --name-only --diff-filter=A | grep "content/post"
            if [[ -z $change_posts ]]; then
              echo "There is no new posts."
              exit 0
            fi
            for change_post in $change_posts; do
              # タイトル取得
              title=`cat $change_post | grep "^title:" | sed -r 's/title: "(.*)"$/\1/g'`
              # URL生成
              url=https://blog.abekoh.dev/post/`echo $change_post | sed -r "s/^content\/post\/(.*)\.md/\1/g"`/
              if [[ -n $title ]]; then
                post_body="[ブログ更新]\n$title\n$url"
                twurl -d "status=$post_body" /1.1/statuses/update.json
              fi
            done
workflows:
  version: 2.1
  main:
    jobs:
      - hugo/build
      - deploy:
          requires:
            - hugo/build
          filters:
            branches:
              only: master
      - tweet:
          requires:
            - deploy
